.react-info-card__container {
  position: relative;
}

.react-info-card__slide .react-info-card__image{
  transform: translate(0, -40px);
}

.react-info-card__slide .react-info-card__body{
  transform: translate(0, 40px) scale(1.1);
  height: auto;
}
